@import "antd/dist/antd.variable.less";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, oxygen,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 400px;
}

.box {
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.25;
}

// https://stackoverflow.com/a/61316941/13040423
.ant-list-item:hover {
  box-shadow: 0 0 4px #eee;
}