@tailwind base;
@tailwind components;
@tailwind utilities;

.my-icon-small {
  font-size: 16px;
}

.my-icon-medium {
  font-size: 24px;
}

.my-icon-large {
  font-size: 32px;
}

.box {
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.24;
  vertical-align: middle;
  border-style: none;
}
